.themecard {
    justify-content: center;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    margin: auto;
    align-items: inherit;
}
.themecard > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
}
.img-container > img {
    width: 60%;
    margin-top: 10px;
}