.theme-card{
    height: 500px;
    margin: 2em;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.themecard-header{
    color: black;
    font-size: 2rem;
    text-align: center;
}

.theme-image{
    max-height: 50%;
    height: 40%;
    padding: 10px;
}

.difficulty-rating{
    font-size: 1.2rem;
    text-align: center;
}

