.site-header-container{
    text-decoration: none;
}

.site-header {
    color: #e44141;
    font-size: 3rem;
    line-height: 0em;
    text-align: center;
}

@media only screen and (max-width: 653px){
    .site-header{
        font-size: 2rem;
    }
}