.site-header {
    color: #e44141;
    padding-top: 15px;
    font-size: 4rem;
    line-height: 0em;
    text-align: center;
}

@media only screen and (max-width: 653px){
    .site-header{
        font-size: 2rem;
    }
}